@import 'tailwindcss';

:root {
	--background: #e6e7f3;
	--foreground: #0a1123;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: 'Inter', 'Russo One', sans-serif; */
}
